asgiref
astroid
autopep8
backports.zoneinfo
certifi
cffi
charset-normalizer
colorama
cryptography
cssselect2
defusedxml
dill
dj-rest-auth
Django
django-admin-interface
django-allauth
django-colorfield
django-cors-headers
django-debug-toolbar
django-filer
django-filter
django-flat-responsive
django-flat-theme
django-js-asset
django-mptt
django-polymorphic
django-sendgrid-v5
djangorestframework
djangorestframework-simplejwt
easy-thumbnail
gunicorn
idna
importlib-metadata
isort
lazy-object-proxy
lxml
Markdown
mccabe
oauthlib
Pillow
platformdirs
pycodestyle
pycparser
PyJWT
pylint
python-dotenv
python-http-client
python3-openid
pytz
reportlab
requests
requests-oauthlib
sendgrid
six
sqlparse
starkbank-ecdsa
svglib
tinycss2
toml
tomli
tomlkit
typing_extensions
tzdata
Unidecode
urllib3
webencodings
whitenoise
wrapt
zipp