dj-rest-auth
Django
django-admin-interface
django-allauth
django-colorfield
django-cors-headers
django-filer
django-filter
django-flat-responsive
django-flat-theme
django-sendgrid-v5
djangorestframework
djangorestframework-simplejwt
easy-thumbnails
gunicorn
Pillow
python-dotenv
sendgrid
whitenoise